.search-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-results {
    position: relative;
    width: 256px;
    margin: 0 auto;
}

.search-bar {
    background-color: #fff;
    padding: 0.5rem;
    border: 1px solid #ddd;
    width: 100%;
    color: #000;
}

.search-suggestions {
    position: absolute;
    left: 0;
    right: -18px;
    background-color: #fff;
    z-index: 999;
    border: 1px solid #ddd;
}

.search-suggestion:hover {
    background-color: #eee;
}

.search-suggestion {
    padding: 0.2rem;
    cursor: pointer;
}

.product-count {
    font-weight: 600;
}