.filter-selection-title {
    background-color: #eee;
    font-weight: 600;
}

.filter-selection-list {
    list-style-type: none;
    padding: unset;
}

.filter-selection-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}