.filter-selection-title {
    background-color: #eee;
    font-weight: 600;
}

.filter-selection-list {
    list-style-type: none;
    padding: unset;
}

.filter-selection-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.filter-ranges {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.filter-ranges > input {
    width: 64px;
    background-color: #fff;
    color: #000;
}