.product-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product-pages {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.product-pages > div {
    border-radius: 2px;
    border: 1px solid #eee;
    margin-right: 0.5rem;
    width: 24px;
    cursor: pointer;
}

.active-page {
    background-color: #eee;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
    grid-gap: 1.5rem;
    flex: 1;
}